.infoBox {
  flex: 1;
  cursor: pointer;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox--selected {
  border-top: 10px solid;
}

.infoBox--cases {
  border-top-color: var(--color-cases);
}

.infoBox__count--cases {
  color: var(--color-cases);
}

.infoBox--recovered {
  border-top-color: var(--color-recovered);
}

.infoBox__count--recovered {
  color: var(--color-recovered);
}

.infoBox--deaths  {
  border-top-color: var(--color-deaths); 
}

.infoBox__count--deaths {
  color: var(--color-deaths);
}

.infoBox__cases--green {
  color: lightgreen !important;
}

.infoBox__count {
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}

@media (max-width: 400px) {
  .infoBox__count {
    font-size: 1.2rem;
  }
  .infoBox__title {
    font-size: 1rem !important;
  }
}